{% extends 'base.html.twig' %}

{% block title %}New Objetosalmacen{% endblock %}

{% block body %}
    <h1>Create new Objetosalmacen</h1>

    {{ include('objetosalmacen/_form.html.twig') }}

    <a href="{{ path('app_objetosalmacen_index') }}">back to list</a>
{% endblock %}
